

header img{
    width: 260px;
    height: 136px;
    margin-left: 20px;
    margin-top: -1px;
    margin-bottom: -14px;
}

header{
    background-color: #ffffff;
    
}

.linha{
    background-color: #97741b;
    padding: 1px;
}
.linha2{
    margin: 0;
    background-color: #97741b;
    padding: 1px;
}
.linha3{
    margin-top: 0px;
    background-color: #F1BA2C;
    padding: 33px;
}

.barra{
    display: flex;
    justify-content: space-evenly;
    background-color: #F1BA2C;

}

ul{
    margin: 5px auto 0;
    padding: 0;
    list-style: none;
    display: table;
    width: 600px;
    text-align: center;
}

li{
    display: table-cell;
    position: relative;
    padding: 5px 0px;  
}

header a{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 7px 17px;
    position: relative;
}

header a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

header a:hover:after{
    width: 100%;
    left: 0;
}

@media screen and (max-height: 300px){
    ul{
        margin-top: 40px;
    }
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    overflow-x: hidden;
}
    
.beribaldo{
    position: relative;
    padding-bottom: 0px;
    background-color: #F2C756;
    width: 100%;
}


.profile {
    display: inline-block;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 51px;
}


.profile h1{
    font-size: 30px;
    color: #785C15;
}

.profile img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left: 7%;
}


footer{
    display: flex;
    margin-left: -2%;
    margin-bottom: 4%;
    margin-top: 8%;
 }

 footer a{
    text-decoration: none; 
    transition: transform 0.3s ease;
    display: inline-block;
 }

 footer a:hover {
    transform: scale(1.05);
}

 footer p{
    color: #393939;
}

 .pe3,
 .pe2,
 .pe1{
    margin-left: 17%;
    
 }

 .links-sociais {
    display: inline-block;
    justify-content: center;
    margin-top: 6%;
    padding-left: 5%;
}

.links-sociais a {
    margin: 0 14px;
    transition: transform 0.3s ease;
}

.links-sociais img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.links-sociais a:hover {
    transform: scale(1.1);
}

.instas{
    display: inline-flex;
    justify-content: center;
    margin-top: -135px;
    padding-left: 5%;
    padding: 118px;
}

.instas a{
    margin: 0 14px;
    transition: transform 0.3s ease;
}

.instas img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.instas a:hover {
    transform: scale(1.1);
}

